*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:#000; 
 }

 .intro_text>h1{
     color:#000;
     font-size: 18px;
     
 }

 .background{
    background-image: url("pic/9.png");
    
    width:932px;
    height:700px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    float: left;
    margin-right: 15px;
}